# Zendesk Messaging
VITE_ZENDESK_KEY=your-zendesk-widget-key
VITE_SHARED_SECRET=your-zendesk-jwt-shared-secret
VITE_KEY_ID=your-zendesk-key-id

# Sunshine Conversations API credentials
VITE_SUNSHINE_APP_ID=your-sunshine-app-id
VITE_SUNSHINE_USERNAME=your-sunshine-api-key-id
VITE_SUNSHINE_PASSWORD=your-sunshine-api-key-secret
